html {
  scroll-behavior: smooth;
}

.blog-card {
  width: min(auto, 250px);
  min-height: auto;
  /* change this adjust card size */
  cursor: pointer;
  color: black;
  background-color: white;
  border: 5px solid black;
  border-radius: 5px 5px 15px 15px;
  font-size: 20px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}